@import "tailwindcss";

:root {
  --color-success: #0cc0df;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
}

button {
  @apply cursor-pointer disabled:cursor-not-allowed disabled:opacity-50;
}


@layer components {
  .input-field {
    @apply w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:border-transparent transition-all duration-200;
  }

  .form-label {
    @apply block text-sm font-medium mb-1;
  }
}
